{% extends "base.html" %}
{% load static %}
{% block links %}
    <style>
        input[type=file]::-webkit-file-upload-button, input[type=file].invalid::-webkit-file-upload-button, input[type=file].valid::-webkit-file-upload-button {
            color: #fff;
            font-size: 13px;
            border: 0;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            border-radius: 3px;
            padding: 8px 10px 8px 38px;
            font-weight: 600;
            background: #0971ce url({% static 'images/icons/upload_icon.svg' %}) 8px center no-repeat;
            outline: none;
        }
    </style>
{% endblock links %}
{% block content %}
    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div>
    <!-- /Preload -->
    <div id="loader_form">
        <div data-loader="circle-side-2"></div>
    </div>
    <!-- /loader_form -->
    <nav>
        <ul class="cd-primary-nav">
            <li>Visit</li>
            <li>
                <a href="https://thedeepseafood.com/" class="animated_link">The Deep Seafood Company</a>
            </li>
            <li>
                <a href="https://oceano.ae/" class="animated_link">Oceano</a>
            </li>
            <li>
                <a href="https://www.royalfuture.sa/" class="animated_link">Royal Future</a>
            </li>
        </ul>
    </nav>
    <!-- /menu -->
    <div class="container-fluid">
        <div class="row row-height">
            <div class="col-xl-4 col-lg-4 content-left">
                <div class="content-left-wrapper">
                    <a href="{% url "insight_create" %}" id="logo">
                        <img src="{% static 'images/logo/logo_white.png' %}"
                             alt="{{ brand_name }}"
                             width="130"
                             height="80">
                    </a>
                    {% comment %} <div id="social">
                        <ul>
                            <li>
                                <a href="#0"><i class="bi bi-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#0"><i class="bi bi-twitter-x"></i></a>
                            </li>
                            <li>
                                <a href="#0"><i class="bi bi-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#0"><i class="bi bi-tiktok"></i></a>
                            </li>
                        </ul>
                    </div> {% endcomment %}
                    <!-- /social -->
                    <div>
                        <figure>
                            <img src="{% static "images/hero/form_hero.png" %}"
                                 alt="suggestion_hero"
                                 class="img-fluid"
                                 width="270"
                                 height="270">
                        </figure>
                        <h2>Your Input, Our Growth!</h2>
                        <p>We’re listening! Share your valuable ideas to help us improve and reach our goals together.</p>
                    </div>
                    <div class="copy">© 2025 The Deep Seafood Company</div>
                </div>
                <!-- /content-left-wrapper -->
            </div>
            <!-- /content-left -->
            <div class="col-xl-8 col-lg-8 content-right" id="start">
                <div id="wizard_container">
                    <div id="top-wizard">
                        <span id="location"></span>
                        <div id="progressbar"></div>
                    </div>
                    <!-- /top-wizard -->
                    <form id="wrapped"
                          method="post"
                          enctype="multipart/form-data"
                          action="{% url "insight_create" %}">
                        {% csrf_token %}
                        <input id="website" name="website" type="text" value="">
                        <!-- Leave for security protection, read docs for details -->
                        <div id="middle-wizard">
                            <div class="step">
                                <h2 class="section_title">Feedback/Suggestion</h2>
                                <h3 class="main_question">Please enter you feedback or suggestions here.</h3>
                                <div class="form-group add_top_30">
                                    <label for="name_field">First and Last Name</label>
                                    <input type="text"
                                           name="name"
                                           id="name_field"
                                           class="form-control required"
                                           onchange="getVals(this, 'name_field');">
                                </div>
                                <div class="form-group">
                                    <label for="branch">Branch</label>
                                    <select name="branch"
                                            id="branch"
                                            class="form-control required"
                                            onchange="getVals(this, 'branch');">
                                        <option value="">-- Select Branch --</option>
                                        {% for branch in branches %}<option value="{{ branch.id }}">{{ branch.name }}</option>{% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="department">Department</label>
                                    <input type="text"
                                           name="department"
                                           id="department"
                                           class="form-control required"
                                           onchange="getVals(this, 'department');">
                                </div>
                                <div class="form-group">
                                    <label for="feedback_suggestions">Feedback/Suggestions</label>
                                    <textarea name="feedback-suggestions"
                                              id="feedback_suggestions"
                                              rows="3"
                                              class="required"
                                              onchange="getVals(this, 'feedback_suggestions');"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="branch">Branch</label>
                                    <select name="related_department"
                                            id="related-department"
                                            class="form-control required"
                                            onchange="getVals(this, 'related-department');">
                                        <option value="">--Select Related Department--</option>
                                        {% for department in departments %}<option value="{{ department.id }}">{{ department.name }}</option>{% endfor %}
                                    </select>
                                </div>
                                <div class="form-group add_bottom_30 add_top_20">
                                    <label>
                                        Upload Images
                                        <br>
                                        <small>Upload images related to your feedback/suggestions</small>
                                        <small>(File accepted: .jpg, .jpeg, .png, .gif - Max file size: 5MB)</small>
                                    </label>
                                    <div class="fileupload">
                                        <input type="file"
                                               name="fileupload"
                                               accept=".jpg,.jpeg,.png,.gif"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>
                            <!-- /step-->
                            <div class="submit step" id="end">
                                <div class="summary">
                                    <div class="wrapper text-start">
                                        <h3>
                                            Thank you for your time <span id="name_field_summary"></span>!
                                        </h3>
                                        <p class="mb-1">
                                            <span class="fw-bold">Branch</span> - <span id="branch_summary"></span>
                                        </p>
                                        <p class="mb-1">
                                            <span class="fw-bold">Department</span> - <span id="department_summary"></span>
                                        </p>
                                        <p class="mb-1">
                                            <span class="fw-bold">Related Department</span> - <span id="related_department_summary"></span>
                                        </p>
                                        <p class="mb-1">
                                            <span class="fw-bold">Feedback/Suggestions</span> - <span class="text-break" id="feedback_suggestions_summary"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- /step last-->
                        </div>
                        <!-- /middle-wizard -->
                        <div id="bottom-wizard">
                            <button type="button" name="backward" class="backward">Prev</button>
                            <button type="button" name="forward" class="forward">Next</button>
                            <button type="submit" name="process" class="submit">Submit</button>
                        </div>
                        <!-- /bottom-wizard -->
                    </form>
                </div>
                <!-- /Wizard container -->
            </div>
            <!-- /content-right-->
        </div>
        <!-- /row-->
    </div>
{% endblock content %}
