{% extends "base.html" %}
{% load static %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="container col-5 p-3">
            <div class="mt-4 border rounded-4 p-3">
                <img src="{% static 'images/banner/insight_banner.jpg' %}"
                     class="mb-2"
                     alt="Insight Banner"
                     width="580px"
                     height="160px">
                {{ form.as_p }}
                <div class="d-grid gap-2 d-md-block text-end">
                    <button type="submit" class="btn btn-primary w-25">Submit</button>
                </div>
            </div>
        </div>
    </form>
    <!-- Bootstrap Modal -->
    <div class="modal fade"
         id="successModal"
         tabindex="-1"
         aria-labelledby="successModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Success</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                            onclick="location.reload();"></button>
                </div>
                <div class="modal-body">
                    {{ messages|join:" " }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="location.reload();">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% block scripts %}
        <script>
        document.addEventListener('DOMContentLoaded', function () {
            const successModal = document.getElementById('successModal');
            {% if messages %}
                const bootstrapModal = new bootstrap.Modal(successModal);
                bootstrapModal.show();
            {% endif %}
        });
        </script>
    {% endblock scripts %}
{% endblock content %}
